@model StoreWeb.Models.Order
@{
    ViewData["Title"] = "Receipt";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Receipt</h1>
        </div>
        <div class="col align-middle">
            <h1 class="text-lg-right ">Total: @Html.DisplayFor(model => model.TotalCost)</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h6>Order Placed: @Model.OrderDate.ToShortDateString()</h6>
        </div>
        <div class="col">
            <p class="text-right">@Html.ActionLink("Go Back", "GetInventory", "Customer")</p>
        </div>
    </div>

</div>

<hr />

@foreach (var item in Model.LineItems)
{
    <div class="container" style="margin-bottom: 8px">
        @Html.PartialAsync("LineItemPartial", item)
    </div>
}

<hr />


